.field {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* width: 100%; */
    margin: 0.2rem;
}

.field-label {
    display: block;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.1em;
    font-weight: 600;
    width: 8rem;
}

.field-input {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1em;
    background: #fff;
    border: 3px solid rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    transition: color 0.1s ease, border-color 0.1s ease;

    width: 10rem;
    vertical-align: top;
}

.field-button {
    margin: 0 0.15rem;
    padding: 2px;
    border-radius: 3px;
}
